
.user-details-container{
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #1E2A47 ;
    color:#FFFFFF;
}
.user-details-profile{
    display: flex;
    gap: 20px;
    width: 100%;
    
}
.user-details-image img{
    width: 117px;
    height: 117px;
    border-radius: 100%;
}
.user-details-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    flex:2;  
}
.user-login-infos{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.user-login-infos .profile-pseudoname p{
    color :#0079FF;
}
.user-login-infos .user-join-date {
    font-size:13px;
    padding-top: 10px;
}

.user-github-data{
    display: flex;
    padding: 14px;
    border-radius: 15px;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    background: black;
}
.user-social-links{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.user-social-links li{
    margin:15px 0px;
}
.user-social-links div li a:hover{
    text-decoration:underline;
    cursor: pointer;
}

@media only screen and (max-width: 680px){
    .user-login-infos{
        gap: 2rem;
    }
}
@media only screen and (max-width: 680px){
    .user-login-infos{
        flex-wrap: wrap;
        gap: 1rem;
    }
}